
{% load static %}
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content%}

{% endblock %}

<script src="{% static 'js/signin.js' %}"></script>
</body>