{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block nav %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      h2 {
          margin-top: 45px;
          margin-bottom: 20px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



<header class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Your Account</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Books
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Media items
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "account:logout" %}">
              <span data-feather="layers"></span>
              Logout
            </a>
          </li>
        </ul>


      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 style="color: #ea3a60" class="h2">Good morning {{ request.user.first_name }}</h1>
      </div>


      <h2>Your posts{% if posts %}({{ posts|length }}){% endif %}</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Subheading</th>
              <th>Slug</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for post in posts %}
            <tr>
              <th>{{ post.id }}</th>
              <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
              <td>{{ post.subheading }}</td>
              <td>{{ post.slug }}</td>
              <td>{{ post.status }}</td>
              <td>
                    <a class="" title="Edit" href="{% url "blog:edit_post" post.id %}?next={{ request.path|urlencode }}">🖊️</a>
                  <a class="" title="Delete" href="{% url "blog:delete_post" post.id %}?next={{ request.path|urlencode }}">❌</a>

              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

           <h2>Your books{% if books %}({{ books|length }}){% endif %}</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Author</th>
              <th>Edition</th>
              <th>Date</th>
              <th>Type</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for book in books %}
            <tr>
              <td>{{ book.id }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.edition }}</td>
              <td>{{ book.added }}</td>
              <td>{{ book.type}}</td>
            <td>
{#                 <a class="" title="Edit" href="">🖊️</a>#}
                  <a class="" title="Delete" href="{% url "library:delete_book" book.id %}?next={{ request.path|urlencode }}">❌</a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

           <h2>Your watch list {% if movies %}({{ movies|length }}){% endif %}</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Title</th>
              <th>Type</th>
              <th>Watch status</th>
                <th>Personal rating</th>
                <th>Personal Review</th>
                <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for movie in movies %}
            <tr>
              <th>{{ movie.id }}</th>
              <td>{{ movie.title }}</td>
              <td>{{ movie.type }}</td>
              <td>{{ movie.watch }}</td>
                <td>{{ movie.rating }}</td>
                <td>{{ movie.review }}</td>
                <td>
                     <a class="" title="Edit" href="{% url "movie:edit_movie" movie.id %}?next={{ request.path|urlencode }}">🖊️</a>
                  <a class="" title="Delete" href="{% url "movie:delete_item" movie.id %}?next={{ request.path|urlencode }}">❌</a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
    {% endblock %}


{% block content %}





{% endblock %}