{% extends "account/account_base.html" %}
{% block title %}Registration{% endblock %}
{% load static %}

{% block content %}
<div class="container">
  <div class="card card-container">

            {% if messages %}
        {% for message in messages %}
<ul class="alert alert-danger">
        {{ message }}

</ul>
                {% endfor %}   
{% endif %}

      <img id="profile-img" class="profile-img-card" src="{% static 'img/register.png' %}" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" method="POST">
          {% csrf_token %}
          <span id="reauth-email" class="reauth-email"></span>
          <input type="text" name="username" id="inputPassword" class="form-control" placeholder="Username" required autofocus>
          <input type="text" name="fname" id="inputPassword" class="form-control" placeholder="First name" required>
          <input type="text" name="lname" id="inputPassword" class="form-control" placeholder="Last name" required>
          <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>
          <input type="password" name="password1" id="inputPassword" class="form-control" placeholder="Password" required>
          <input type="password" name="password2" id="inputPassword" class="form-control" placeholder="Confirm password" required>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
      </form><!-- /form -->
<a href="{% url 'account:login' %}" class="signup">Already registered?
          Sign in
      </a>
  </div><!-- /card-container -->

</div><!-- /container -->

{% endblock %}

