


{% extends "account/account_base.html" %}

{% load static %}
{% block title %}Complete{% endblock %}


{% block content %}

    <div class="container">
  <div class="card card-container">



      <img id="profile-img" class="profile-img-card" src="{% static 'img/login.png' %}" />
      <p id="profile-name" class="profile-name-card"></p>
      <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
      </a>
      <a href="{% url 'account:register' %}" class="signup">
          Sign up
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->

{% endblock %}