{% extends 'base.html' %}
{% block title %}Password reset done{% endblock %}
{% load static %}

{% block nav %}
{#<link rel="stylesheet" href="{% static 'stylesheets/library/custom_style.css' %}">#}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Check your inbox.</h1>
  </div>
</div>
{% endblock %}

{% block content %}
    <div class="border border-info rounded m-4">
    <div class="form form-group p-4">

  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
    </div>
{% endblock %}