{% extends 'base.html' %}
{% block title %}Password reset complete{% endblock %}
{% load static %}

{% block nav %}
{#<link rel="stylesheet" href="{% static 'stylesheets/library/custom_style.css' %}">#}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Password reset complete</h1>
  </div>
</div>
{% endblock %}

{% block content %}
    <div class="border border-info rounded m-4">
    <div class="form form-group p-4">

<p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>


        </div>
    </div>
{% endblock %}