{% extends 'account/account_base.html' %}
{% block title %}Password reset done{% endblock %}
{% load static %}



{% block content %}

<div class="container">
  <div class="card card-container">



      <img id="profile-img" class="profile-img-card" src="{% static 'img/login.png' %}" />
      <p id="profile-name" class="profile-name-card"></p>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
      <a href="{% url 'account:register' %}" class="signup">
          Sign up
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->

{% endblock %}