{% extends 'base.html' %}
{% block title %}Enter new password{% endblock %}
{% load static %}

{% block nav %}
{#<link rel="stylesheet" href="{% static 'stylesheets/library/custom_style.css' %}">#}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Set a new password!</h1>
  </div>
</div>
{% endblock %}

{% block content %}
    <div class="border border-info rounded m-4">
    <div class="form form-group p-4">

{% if validlink %}

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-primary" type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        {% endif %}


        </div>
    </div>
{% endblock %}












{% extends "account/account_base.html" %}

{% load static %}
{% block title %}Login{% endblock %}


{% block content %}

    <div class="container">
  <div class="card card-container">


      <img id="profile-img" class="profile-img-card" src="{% static 'img/login.png' %}" />
      <p id="profile-name" class="profile-name-card"></p>
  {% if validlink %}

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-primary" type="submit" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
        {% endif %}
      </a>
      <a href="{% url 'account:register' %}" class="signup">
          Sign up
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->

{% endblock %}