{% extends 'account/account_base.html' %}
{% block title %}Forgot Password?{% endblock %}
{% load static %}


{% block content %}
<div class="container">
  <div class="card card-container">




      <img id="profile-img" class="profile-img-card" src="{% static 'img/login.png' %}" />
      <p id="profile-name" class="profile-name-card"></p>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="Send me instructions!">
  </form>
      <a href="{% url 'account:register' %}" class="signup">
          Sign up
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->
{% endblock %}