{#{% extends 'base.html' %}#}
{#{% block title %}Forgot Your Password?{% endblock %}#}
{#{% load static %}#}
{#{% block content %}#}
{# <!-- Page Header -->#}
{#  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1523484489927-4aa8bf9a99d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1346&q=80)">#}
{#    <div class="overlay"></div>#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-lg-8 col-md-10 mx-auto">#}
{#          <div class="site-heading">#}
{#            <h1>Zenusko blog</h1>#}
{#            <span class="subheading">Password Reset</span>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </header>#}
{##}
{##}
{#    <div class="border border-info rounded m-4">#}
{#    <div class="form form-group p-4">#}
{#  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>#}
{#  <form method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input class="btn btn-primary" type="submit" value="Send me instructions!">#}
{#  </form>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}


{% load static %}
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<title>Login</title>
</head>
<body>
<div class="container">
  <div class="card card-container">

  {% if messages %}
  {% for message in messages %}
<div {% if message.tags == 'success' %}class="alert alert-success"
     {% else %} class = "alert alert-warning"
     {% endif %} role="alert">
{{ message }}
</div>
  {% endfor %}
  {% endif %}

  {% if 'next' in request.GET %}

  <div class="alert alert-info">You need to login the to view the page.</div>

  {% endif %}



      <img id="profile-img" class="profile-img-card" src="{% static 'img/login.png' %}" />
      <p id="profile-name" class="profile-name-card"></p>
        <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Send me instructions!">
  </form>
      <a href="{% url 'account:register' %}" class="signup">
          Sign up
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->
<script src="{% static 'js/signin.js' %}"></script>
</body>
